@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    --clr-primary-dark-cyan:hsl(185, 75%, 39%);
    --clr-primary-vd-d-blue: hsl(229, 23%, 23%);
    --clr-primary-dg-blue: hsl(227, 10%, 46%);

    --clr-neutral-dark-gray:hsl(0, 0%, 59%);
    --clr-neutral-dark-gray-v1:hsla(0, 0%, 59%, 0.2);
    
    --fs-name-stats:1.125rem;
    --ff-kumbh: 'Kumbh Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{

    font-family:var(--ff-kumbh);
    font-size: var(--fs-name-stats);
    background-color: var(--clr-primary-dark-cyan);
    background-image:url(../images/bg-pattern-top.svg),  url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 40vh, left 50vw top 50vh;
    min-height:100vh;
    display:flex;
    justify-content:center;
    place-items:center;

}


.container{
    max-width:27.5rem;
    margin:0 auto;
    text-align:center;
}

.bg-pattern{
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;    
}



.content-img  img{
border-radius: 50%;
border: 5px solid white;
margin-top:-3.75rem;
}

.content-img h1{

    color: var(--clr-primary-vd-d-blue);
    font-size: var(--fs-name-stats);
    font-weight: var(--fw-700);
    margin-top:1.125rem;
    margin-bottom:0.5rem;
}

.content-img h1 span{

    color:var(--clr-neutral-dark-gray);
    font-weight: var(--fw-400);
    margin-left:0.5rem;    
}

.content-img p{

    color:var(--clr-neutral-dark-gray);
    font-weight: var(--fw-400);
    font-size:1rem;
}

.flex-grid h2{
    color: var(--clr-primary-vd-d-blue);
    font-size: var(--fs-name-stats);
    font-weight: var(--fw-700);
}

.flex-grid p{
    color:var(--clr-neutral-dark-gray);
    font-weight: var(--fw-400);
    font-size:0.75rem;
}

.flex-grid{

    display:flex;
    justify-content: space-around;
    border-top:1px solid var(--clr-neutral-dark-gray-v1);
    margin-top:1.5rem;
    padding:2rem 0;


}